@model SmartHome.Models.DeviceAPI
@{
    ViewBag.Title = "Master";
    
}
<body color: #ffffff;>
    <div background-color="#8f969c">
        <h3>Все устройства</h3>
        <table>
            <tr>
                <td><p>ID</p></td>
                <td><p>Type</p></td>
                <td><p>Condition</p></td>
                <td><p>Value</p></td>
                <td><p>Information</p></td>
                <td></td>
            </tr>
            @foreach (var b in ViewBag.list)
            {
               
            <tr>
                <td><p>@b.ID</p></td>
                <td><p>@b.Type</p></td>
                <td><p>@b.Condition</p></td>
                <td><p>@b.Value</p></td>
                <td><p>@b.Information</p></td>
            </tr>
            }
        </table>
    </div>
</body>